In [12]:
import pandas as pd

df = pd.read_csv("data/joined_data.csv")
df.head()

,id,title,company_name,location,via,extensions,posted_at,schedule_type,work_from_home,date_time,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,description_tokens
0,0,Data Analyst Technical - Consultant,Intermountain Healthcare,"Oklahoma City, OK",via Monster,"['19 hours ago', 'Full-time', 'Health insurance']",19 hours ago,Full-time,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['vba', 'spreadsheet', 'javascript', 'word', '..."
1,1,"Sr Analyst, Data Engineer",Estee Lauder Companies,Oklahoma,via ZipRecruiter,"['12 hours ago', 'Full-time']",12 hours ago,Full-time,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
2,2,Legal Data Analyst,DISYS,United States,via Indeed,"['4 hours ago', '21 to 23 an hour', 'Contractor']",4 hours ago,Contractor,NaN,00:10.1,21 to 23,an hour,22.0,21.0,23.0,22.0,NaN,45760.0,[]
3,3,Data analyst,Modis,United States,via BeBee,"['13 hours ago', 'No degree mentioned']",13 hours ago,NaN,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
4,4,Data Analyst (Risk Adjustment Consulting Resea...,Cambia Health Solutions,United States,via LinkedIn,"['23 hours ago', 'Full-time', 'Health insuranc...",23 hours ago,Full-time,NaN,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['sas', 'matlab', 'sql', 'spss', 'r']"

In [13]:
df["work_from_home"].fillna(False, inplace=True)
df.head()

,id,title,company_name,location,via,extensions,posted_at,schedule_type,work_from_home,date_time,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,description_tokens
0,0,Data Analyst Technical - Consultant,Intermountain Healthcare,"Oklahoma City, OK",via Monster,"['19 hours ago', 'Full-time', 'Health insurance']",19 hours ago,Full-time,False,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['vba', 'spreadsheet', 'javascript', 'word', '..."
1,1,"Sr Analyst, Data Engineer",Estee Lauder Companies,Oklahoma,via ZipRecruiter,"['12 hours ago', 'Full-time']",12 hours ago,Full-time,False,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
2,2,Legal Data Analyst,DISYS,United States,via Indeed,"['4 hours ago', '21 to 23 an hour', 'Contractor']",4 hours ago,Contractor,False,00:10.1,21 to 23,an hour,22.0,21.0,23.0,22.0,NaN,45760.0,[]
3,3,Data analyst,Modis,United States,via BeBee,"['13 hours ago', 'No degree mentioned']",13 hours ago,NaN,False,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
4,4,Data Analyst (Risk Adjustment Consulting Resea...,Cambia Health Solutions,United States,via LinkedIn,"['23 hours ago', 'Full-time', 'Health insuranc...",23 hours ago,Full-time,False,00:10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['sas', 'matlab', 'sql', 'spss', 'r']"

In [14]:
from sklearn.preprocessing import MultiLabelBinarizer
from ast import literal_eval

mlb = MultiLabelBinarizer()

# convert description_tokens into col of lists
df["description_tokens"] = df["description_tokens"].apply(literal_eval)

# encode each skill as a unique column
binary_columns = mlb.fit_transform(df["description_tokens"].tolist())

# join on initial dataframe
encoded_df = pd.DataFrame(binary_columns, columns=mlb.classes_, index=df.index)
enc_skill_df = df.join(encoded_df)
enc_skill_df.head()

,id,title,company_name,location,via,extensions,posted_at,schedule_type,work_from_home,date_time,...,typescript,unix,unix/linux,vb.net,vba,visio,visual_basic,vue,vue.js,word
0,0,Data Analyst Technical - Consultant,Intermountain Healthcare,"Oklahoma City, OK",via Monster,"['19 hours ago', 'Full-time', 'Health insurance']",19 hours ago,Full-time,False,00:10.1,...,0,0,0,0,1,0,0,0,0,1
1,1,"Sr Analyst, Data Engineer",Estee Lauder Companies,Oklahoma,via ZipRecruiter,"['12 hours ago', 'Full-time']",12 hours ago,Full-time,False,00:10.1,...,0,0,0,0,0,0,0,0,0,0
2,2,Legal Data Analyst,DISYS,United States,via Indeed,"['4 hours ago', '21 to 23 an hour', 'Contractor']",4 hours ago,Contractor,False,00:10.1,...,0,0,0,0,0,0,0,0,0,0
3,3,Data analyst,Modis,United States,via BeBee,"['13 hours ago', 'No degree mentioned']",13 hours ago,NaN,False,00:10.1,...,0,0,0,0,0,0,0,0,0,0
4,4,Data Analyst (Risk Adjustment Consulting Resea...,Cambia Health Solutions,United States,via LinkedIn,"['23 hours ago', 'Full-time', 'Health insuranc...",23 hours ago,Full-time,False,00:10.1,...,0,0,0,0,0,0,0,0,0,0

In [16]:
enc_skill_df.to_csv("data/encoded_skills.csv", index=False)

In [17]:
enc_skill_df.dropna(subset=["salary_standardized"], inplace=True)

In [18]:
enc_skill_df.to_csv("data/clean_data.csv", index=False)